.grid {
    width: 30em;
    height: 30em;
    border: solid 1em black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-left: 31em;
}

.grid div {
    width: 2em;
    height: 2em;
}

.alien {
    background-color: blue;
    border-radius: 1em;
}

.player {
    background-color: lightcoral;
}

.laser {
    background-color: rgb(21, 255, 0);
    border-radius: 1em;
}

.hit {
    background-color: rgb(255, 0, 0);
}

h1 {
    text-align: center;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.start-screen h1 {
    color: black;
    font-size: 3em;
    margin-bottom: 1em;
}

.play-button {
    padding: 1em 2em;
    font-size: 1.5em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.play-button:hover {
    background-color: darkgray;
}
